ul.noStyle {
	list-style-type: none;
}

body {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/rainy-stormy-darkness-wet-weather-background-depressed-sad-background_bzxjr4x7h__F0000.png");
	/*background-size: ; */
}

i {
	font-size: 3em;
}